.List-container {
  display: flex;
  flex: row;
  margin: 10px;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.list-fist-part {
  display: flex;
  flex: row;
  justify-content: space-between;
}
.delete-button {
  border: 0px;
  padding: 0px;
}
p {
  margin-left: 20px;
  font-weight: 600;
}
.domain-name {
  color: #64748b;
}
.img {
  height: 30px;
  width: 30px;
  height: 25px;
  width: 25px;
  margin-left: 50px;
  margin-top: 15px;
}
